:root {
  --orangefonce:#E76F51 ;
  --orangeclair: #F4A261;
  --taupe: #A67153;
  --marron: #A67C49;
  --clair: #C1C9D9;
  --blanc: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

.link a {
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 1rem;
  background-color: var(--orangefonce);
  margin-left: 25rem;
}
body {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: var(--orangeclair);
}

.wrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.container {
  min-height: calc(100vh - 220px);
  padding-left: 8rem;
}
#masthead {
  padding: 1rem 0;
  background-color: var(--orangefonce);
  height: 60px;
  nav ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
    li a {
      color: var(--blanc);
    }
  }
}
 h1{
   padding-left: 25rem;
   padding-top: 3rem;
 }
table{
  border-collapse: collapse;
  border: 2px solid var(--orangefonce);
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  width: 70%;
  text-align: center;
  margin: 5rem;
}thead {
   background-color: var(--orangefonce);
   color: white;
   th{
     border: 1px solid var(--orangefonce);
     padding: 10px 10px;
   }
 }tbody{
    td{
      padding: 1rem 0;
      border: 2px solid var(--orangefonce);
    }
  }

.btn {
  margin-left: 10rem;
  margin-bottom: 3rem;
  width: 30%;
}
select{
  width: 70%;
  padding: 1rem;
  background-color: var(--orangeclair);
  border: 5px solid var(--orangefonce);
  border-radius: 5px;
}
.formulaire{
  width: 50%;
  margin: 0 auto;
  form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    margin-top: 2rem;
    gap: 1rem;
    input{
      width: 80%;
      padding: 1rem;
      background-color: var(--orangeclair);
      border: 5px solid var(--orangefonce);
      border-radius: 5px;

    }
    input[type=submit]{
      cursor: pointer;
      background-color: var(--orangefonce);
      color: white;
      border-radius: 10px;
      font-size: 1.2rem;
    }
  }
}


#colophon {
  background-color: var(--orangefonce);
  color: var(--blanc);
  padding: 1rem 0;
  margin-top: 2rem;
  text-align: center;
  height: 60px;
}